@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@keyframes piscar {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes girar {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
:root {
    --cor-back-principal: #171321;
    --cor-back-alternative: #0D314A;
    --cor-back-infobox: #D459AB;
    --cor-font01: #00ebdf;

    --font-title: "Montserrat Alternates", sans-serif;
    --font-title-alternate: "Montserrat", sans-serif;
    --font-main: "Nunito Sans", sans-serif;

    /*A fonte principal para títulos é a alternates, não está invertido*/
}
* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    color: white;

    background-color: var(--cor-back-principal);

    font-family: var(--font-main);
}
header {
    display: flex;

    background-color: #1713214f;

    padding: 15px;

    justify-content: end;

    z-index: 1;

    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
}
nav {
    display: flex;

    font-family: var(--font-title);
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2em;
}
nav ul{
    display: flex;

    list-style: none;

    gap: 30px;
}
nav a {
    color: white;

    text-decoration: none;

    font-family: var(--font-title-alternate);
}
nav a:hover {
    color: var(--cor-font01);
}
main {
    padding-top: 65px;
}
h1 {
    font-family: var(--font-title);
    font-size: 2.5em;
}
h2 {
    font-family: var(--font-title);
}
#welcome-section {
    display: flex;
    position: relative;
}
#welcome-text {
    margin: 75px 0px 150px 8%;
    max-width: 400px;
}
#name-welcome {
    color: var(--cor-font01);
}
#name-welcome::after {
    content: "|";
    margin-left: 5px;
    animation: piscar 1s infinite;
}
#about-me-text {
    font-size: 1.1em;
}
#about-me-text > p {
    margin-top: 20px;
}
#welcome-image {
    position: absolute;

    top:  5%;
    left: 55%;
}
#welcome-image > img {
    width: 450px;
    
    border-radius: 50%;
    border: 4px solid var(--cor-back-infobox);

    box-shadow: 0rem 0rem 0.625em 0rem var(--cor-back-infobox);

    transition: box-shadow, border 1.5s;
}
#welcome-image > img:hover {
    box-shadow: 0rem 0rem 0.625em 0rem var(--cor-font01);
    border: 4px solid var(--cor-font01);

}
#welcome-image > p {
    position: absolute;
    left: 17%;  
    color: gray;
    width: 300px;
    text-align: center;
}
/* !!! Projetos !!! */
#projects {
    width: 100%;
    
    background-color: var(--cor-back-alternative);

    border-top: 1px solid var(--cor-font01);
    border-bottom: 1px solid var(--cor-font01);

    box-shadow: 0px 0px 8px #00ebdf62;

    padding-bottom: 65px;
}
#container-projects {
    display: grid;

    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 300px 300px 300px;
    gap: 85px 115px;

    max-width: 1200px;
    margin: auto;

    justify-content: center;
}
.project {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 155px 165px;
    row-gap: 20px;

    width: 320px;
    height: 320px;
}
#project-text {
    margin-left: 8%;

    padding-top: 65px;
    padding-bottom: 65px;
}
#project-text p {
    width: 300px;
    margin-left: 10px;
}
.gif-box {
    width: 320px;   
    height: 155px;
}
.gif {
    width: 320px;
    height: 155px;
}
.info-box {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 115px 30px;

    background-color: var(--cor-back-infobox);

    box-shadow: 0rem 0rem 0.625em 0rem var(--cor-back-infobox);

    padding-bottom: 8px;
}
.info-box h2 {
    font-size: 1.3em;

    width: 280px;

    margin: auto;
}
.info-box p {
    width: 280px;
    margin: auto;
    text-align: justify;
}
.tec-box {
    display: flex;
    
    align-items: center;
    justify-content: end;
    
    gap: 15px;

    margin-right: 10px;

    position: relative;
}
.tec-box > a > img {
    position: absolute;
    
    transform: translate(-50%, -50%);

    top: 48%;
    left: 10%;

    width: 35px;

    transition: scale .4s;
}
.tec-box > a > img:hover {
    scale: 1.2;
}
.tec-box > span {
    background-color: #101518;

    padding: 5px;

    border-radius: 30px;

    box-shadow: 0rem 0rem 0.625em 0rem #101518;

    width: 60px;

    text-align: center;
}
/* !!! HABILIDADES !!!*/
#skills-section {
    width: 100%;
}
#skills-text {
    margin-left: 8%;

    padding-top: 65px;
    padding-bottom: 65px;
}
#skills-text > p {
    width: 300px;
    margin-left: 10px;
}
#skills-container {
    max-width: 1200px;
    margin: auto;
}
#skills-icons-text-container {
    display: grid;
    grid-template-columns: 600px 600px;
}
#skills-icons{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 180px 180px;

    align-items: center;
    justify-content: center;
    
}
.skills-icon {

    width: 100px;
    height: 100px;

    transition: .4s;

    background-color: aliceblue;
    padding: 8px;

    border-radius: 10px;

    color: var(--cor-back-principal);

    font-size: 75px;

    text-align: center;

    padding-top: 11px;

    box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.363);
}
.skills-icon:hover {
    scale: 1.1;
}
#skills-h2 {
    visibility: hidden;

    font-family: var(--font-title-alternate);
    font-size: 2em;

    margin-bottom: 10px;
}
#skills-details {
    width: 400px;

    margin-left: 10px;

    font-size: 1.15em;
}
/* !!! Footer !!!*/
footer {
    background-color: var(--cor-back-alternative);

    border-top: 1px solid var(--cor-font01);

    box-shadow: 0px 0px 8px #00ebdf62;
}
#footer-container {
    width: 310px;

    margin: auto;

    font-size: 1.1em;
}
#footer-container > p > a {
    color: white;
    text-decoration: none;
}
#footer-container > p > a:hover {
    text-decoration: underline;
}
#footer-container > p > a::after {
    content: "\1F517";
    margin-left: 2px;
}
#footer-icons-container {
    width: 155px;

    margin: auto;

    text-align: center;

    font-size: 3.5em;
}
#footer-icons-container a {
    color: var(--cor-back-infobox);
}
#footer-icons-container a > i:hover {
    animation: girar 2s infinite linear;
}
/*SVSDFSDFSDFSDFSDFSFDSDFSDFDDDDDDSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSI´TMS-ROITJSRT´GMSDGPÍJSDMFOPITYJSMDOPTIJDMSFGPOKSMDOPIGSMDRGKOPSDFMGIOPDRJMTGOPDSJGMSDIOPGJDIOPSRGJMSPDKOGMIOPESRASERFASEFAKSEJFOPASEJRFIOPASJFSIOPAGKFPOSDGMDIOPSJGSIOPDGMOPSDMVPUOASDRJGOPISDJGPOSDMGPODFMGUPSDRJGPSDFMGDRNMGIODFMGPOKSDFJGMIOPSDMGPDKJGMIOSDMGPOSZDJGMOPASDGHASPGMASDOKGJASEMGÁSDGJIOPAJGSDJRUIOSRG8Y*/
@media (max-width: 1220px) {
    #welcome-image {
        left: 50%;
    }
    /* !!! Projetos !!! */
    #container-projects {
        grid-template-columns: 320px 320px;
        grid-template-rows: 300px 300px 300px 300px 300px;
    }
}
@media (max-width: 1000px) {
    #welcome-section {
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: 580px 630px;

        justify-content: center;
    }
    #welcome-text {
        margin: 75px 0px 150px auto;
        max-width: 400px;
        
    }
    #welcome-image {
        transform: translate(-50%, 0%);

        top: 580px;
        left: 50%;
    }
    #welcome-image > img {
        width: 450px;
    }
    #welcome-image > p {
        left: 18%;  
    }
    /* !!! HABILIDADES !!!*/
    #skills-container {
        max-width: 600px;
    }
    #skills-icons-text-container {
        grid-template-columns: 300px 300px;
    }
    #skills-icons{
        grid-template-columns:  100px 100px 100px;
        grid-template-rows: 120px 120px;
    }
    .skills-icon {
        width: 75px;
        height: 75px;

        font-size: 60px;

        padding-top: 9px;
    }
    #skills-h2 {
        font-size: 1.67em;
    }
    #skills-details {
        width: 300px;

        font-size: 1.05em;
    }
}
@media (max-width: 780px) {
    #project-text {
        margin: auto;

        width: 320px;

        padding-top: 65px;
        padding-bottom: 65px;
    }
    #project-text p {
        width: 300px;
        margin-left: 10px;
    }
    #container-projects {
        grid-template-columns: 320px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px;
    }
}
@media (max-width: 640px) {
    header {
        display: flex;

        padding: 15px;
    
        justify-content: center;

        position: inherit;
    }
    nav ul{
        display: block;
    
        list-style: none;
    
        gap: 30px;
        
    }
    nav li {
        margin-top: 65px;

        text-align: center;

        font-size: 1.5em;
    }
    nav a {
        color: white;
    
        text-decoration: none;
    
        font-family: var(--font-title-alternate);
    }
    nav a:hover {
        color: var(--cor-font01);
    }
    h1 {
        font-family: var(--font-title);
        font-size: 2.02em;
    }
    #welcome-section {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 580px 430px;

        justify-content: center;
    }
    #welcome-text {
        margin: 75px 0px 150px auto;
        max-width: 300px;

        margin: auto;
    }
    #about-me-text {
        font-size: 1.1em;
    }
    #welcome-image {
        transform: translate(-50%, 0%);

        top: 580px;
        left: 50%;
    }
    #welcome-image > img {
        width: 300px;
    }
    #welcome-image > p {
        left: 1%;  
    }
    /* !!! HABILIDADES !!!*/
    #skills-container {
        max-width: 350px;
    }
    #skills-icons-text-container {
        grid-template-columns: 300px;
        grid-template-rows: 241px 241px;
        row-gap: 20px;

        justify-content: center;
    }
    #skills-icons{
        grid-template-columns:  100px 100px 100px;
        grid-template-rows: 120px 120px;

    }
    .skills-icon {
        width: 75px;
        height: 75px;

        font-size: 60px;

        padding-top: 9px;

    }
    #skills-h2 {
        font-size: 1.67em;
    }
    #skills-details {
        width: 300px;

        font-size: 1.05em;

        margin: auto;
    }
}