@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

@keyframes piscar {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
:root {
    --cor-back-principal: #171321;
    --cor-back-alternative: #0D314A;
    --cor-font01: #00ebdf;

    --font-title: "Montserrat", sans-serif;
    --font-main: "Nunito Sans", sans-serif;
}
* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}
body {
    color: white;

    background-color: var(--cor-back-principal);

    font-family: var(--font-main);
}
header {
    display: flex;

    background-color: #1713214f;

    padding: 15px;

    justify-content: end;

    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
}
nav {
    display: flex;

    font-family: var(--font-title);
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2em;
}
nav ul{
    display: flex;

    list-style: none;

    gap: 30px;
}
nav a {
    color: white;

    text-decoration: none;
}
nav a:hover {
    color: var(--cor-font01);
}
main {
    padding-top: 65px;
}
h1 {
    font-family: var(--font-title);
    font-size: 2.5em;
}
#welcome-text {
    margin-left: 8%;
}
#name-welcome {
    color: var(--cor-font01);
}
#name-welcome::after {
    content: "|";
    margin-left: 5px;
    animation: piscar 1s infinite;
}
/* !!! Projetos !!! */
#projects {
    width: 100vw;
    
    background-color: var(--cor-back-alternative);

    border-top: 1px solid var(--cor-font01);
    border-bottom: 1px solid var(--cor-font01);

    box-shadow: 0px 0px 8px #00ebdf62;
}
#container-projects {
    display: grid;

    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: 40px 25px;

    width: 1000px;
    margin: auto;

    justify-content: center;

    background-color: springgreen;
}
.project {
    background-color: blueviolet;

    width: 300px;
    height: 300px;

    border-radius: 30px 30px 0px 0px;
}