@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --cor-back-principal: #171321;
    --cor-back-alternative: #0D314A;
    --cor-back-infobox: #D459AB;
    --cor-font01: #00ebdf;

    --font-title: "Montserrat Alternates", sans-serif;
    --font-title-alternate: "Montserrat", sans-serif;
    --font-main: "Nunito Sans", sans-serif;

    /*A fonte principal para títulos é a alternates, não está invertido*/
}
@media (max-width: 1220px) {
    #welcome-image {
        left: 50%;
    }
    /* !!! Projetos !!! */
    #container-projects {
        grid-template-columns: 320px 320px;
        grid-template-rows: 300px 300px 300px 300px 300px;
    }
}
@media (max-width: 1000px) {
    #welcome-section {
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: 580px 630px;

        justify-content: center;
    }
    #welcome-text {
        margin: 75px 0px 150px auto;
        max-width: 400px;
        
    }
    #welcome-image {
        transform: translate(-50%, 0%);

        top: 580px;
        left: 50%;
    }
    #welcome-image > img {
        width: 450px;
    }
    #welcome-image > p {
        left: 18%;  
    }
    /* !!! HABILIDADES !!!*/
    #skills-container {
        max-width: 600px;
    }
    #skills-icons-text-container {
        grid-template-columns: 300px 300px;
    }
    #skills-icons{
        grid-template-columns:  100px 100px 100px;
        grid-template-rows: 120px 120px;
    }
    .skills-icon {
        width: 75px;
        height: 75px;

        font-size: 60px;

        padding-top: 9px;
    }
    #skills-h2 {
        font-size: 1.67em;
    }
    #skills-details {
        width: 300px;

        font-size: 1.05em;
    }
}
@media (max-width: 780px) {
    #project-text {
        margin: auto;

        width: 320px;

        padding-top: 65px;
        padding-bottom: 65px;
    }
    #project-text p {
        width: 300px;
        margin-left: 10px;
    }
    #container-projects {
        grid-template-columns: 320px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px;
    }
}
@media (max-width: 640px) {
    header {
        display: flex;

        padding: 15px;
    
        justify-content: center;

        position: inherit;
    }
    nav ul{
        display: block;
    
        list-style: none;
    
        gap: 30px;
        
    }
    nav li {
        margin-top: 65px;

        text-align: center;

        font-size: 1.5em;
    }
    nav a {
        color: white;
    
        text-decoration: none;
    
        font-family: var(--font-title-alternate);
    }
    nav a:hover {
        color: var(--cor-font01);
    }
    h1 {
        font-family: var(--font-title);
        font-size: 2.02em;
    }
    #welcome-section {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 580px 430px;

        justify-content: center;
    }
    #welcome-text {
        margin: 75px 0px 150px auto;
        max-width: 300px;

        margin: auto;
    }
    #about-me-text {
        font-size: 1.1em;
    }
    #welcome-image {
        transform: translate(-50%, 0%);

        top: 580px;
        left: 50%;
    }
    #welcome-image > img {
        width: 300px;
    }
    #welcome-image > p {
        left: 1%;  
    }
    /* !!! HABILIDADES !!!*/
    #skills-container {
        max-width: 350px;
    }
    #skills-icons-text-container {
        grid-template-columns: 300px;
        grid-template-rows: 241px 241px;
        row-gap: 20px;

        justify-content: center;
    }
    #skills-icons{
        grid-template-columns:  100px 100px 100px;
        grid-template-rows: 120px 120px;

    }
    .skills-icon {
        width: 75px;
        height: 75px;

        font-size: 60px;

        padding-top: 9px;

    }
    #skills-h2 {
        font-size: 1.67em;
    }
    #skills-details {
        width: 300px;

        font-size: 1.05em;

        margin: auto;
    }
}